* {
  box-sizing: border-box;
  color: #3f67bf;
  /*word-break: break-all;*/
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1, h2, h3 {
  color: #3f67bf;
  text-align: center;
  font-weight: 500;
}

p {
  font-size: 24px;
  font-weight: 300;
}

.app {
  position: relative;
  background-color: #fff;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  z-index: 0;
  padding-bottom: 375px;
}

.app:before, .app:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background:
          url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTQ0MCAzMjAiPjxwYXRoIGZpbGw9IiM5YjU5YjYiIGZpbGwtb3BhY2l0eT0iMSIgZD0iTTAsMTI4TDQ4LDEyMi43Qzk2LDExNywxOTIsMTA3LDI4OCwxMTcuM0MzODQsMTI4LDQ4MCwxNjAsNTc2LDE5MkM2NzIsMjI0LDc2OCwyNTYsODY0LDIyOS4zQzk2MCwyMDMsMTA1NiwxMTcsMTE1MiwxMDYuN0MxMjQ4LDk2LDEzNDQsMTYwLDEzOTIsMTkyTDE0NDAsMjI0TDE0NDAsMzIwTDEzOTIsMzIwQzEzNDQsMzIwLDEyNDgsMzIwLDExNTIsMzIwQzEwNTYsMzIwLDk2MCwzMjAsODY0LDMyMEM3NjgsMzIwLDY3MiwzMjAsNTc2LDMyMEM0ODAsMzIwLDM4NCwzMjAsMjg4LDMyMEMxOTIsMzIwLDk2LDMyMCw0OCwzMjBMMCwzMjBaIj48L3BhdGg+PC9zdmc+)
          no-repeat
          left bottom;
  background-size: 120%;
  z-index: -1;
}

.app:before {
  opacity: 0.7;
}

.app:after{
  background:
    url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTQ0MCAzMjAiPjxwYXRoIGZpbGw9IiNmM2Y0ZjUiIGZpbGwtb3BhY2l0eT0iMSIgZD0iTTAsMTkyTDM0LjMsMjAyLjdDNjguNiwyMTMsMTM3LDIzNSwyMDYsMjUwLjdDMjc0LjMsMjY3LDM0MywyNzcsNDExLDI1MC43QzQ4MCwyMjQsNTQ5LDE2MCw2MTcsMTQ5LjNDNjg1LjcsMTM5LDc1NCwxODEsODIzLDIxMy4zQzg5MS40LDI0NSw5NjAsMjY3LDEwMjksMjcyQzEwOTcuMSwyNzcsMTE2NiwyNjcsMTIzNCwyNDBDMTMwMi45LDIxMywxMzcxLDE3MSwxNDA2LDE0OS4zTDE0NDAsMTI4TDE0NDAsMEwxNDA1LjcsMEMxMzcxLjQsMCwxMzAzLDAsMTIzNCwwQzExNjUuNywwLDEwOTcsMCwxMDI5LDBDOTYwLDAsODkxLDAsODIzLDBDNzU0LjMsMCw2ODYsMCw2MTcsMEM1NDguNiwwLDQ4MCwwLDQxMSwwQzM0Mi45LDAsMjc0LDAsMjA2LDBDMTM3LjEsMCw2OSwwLDM0LDBMMCwwWiI+PC9wYXRoPjwvc3ZnPg==)
    no-repeat
    left top;
  opacity: .4;
}

.app__container {
  padding: 80px 30px 30px 30px;
  max-width: 1260px;
  margin: auto;
}

a:hover {
  text-decoration: none;
}

button {
  border: 1px solid #3f67bf;
  background-color: #3f67bf;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  transition: background-color .3s;
}

button:hover {
  background-color: #9B59B6;
  color: white;
}

.code-box {
  background-color: #f4f1f1;
  padding: 20px;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 5px;
}

.code-box span,
.code-box li,
.code-box p {
  font-size: 18px;
  color: #474050;
}